{% for member in include.lst %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="https://github.com/{{member.github}}.png" class="face img-fluid rounded" alt="{{ member.name }}'s face">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ member.name }}</h5>
        <p class="card-text">
          {{ member.desc | markdownify }}
        </p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
